$theme-color:rgb(30,170,203);
$light-color:rgb(10,188,194);
$white: #ffffff;
$dark: #DFE4EA;

body{
    // background:  #e0e5ec;
    // background: #272727;
    background: linear-gradient(to right,rgb(10,188,194),rgb(30,170,203),rgb(76,162,205));
    
}
#main{
  color: black;
  // background: #f1f8fd;
  // background: $theme-color;
  background: #e5edf2;
  
   margin: 6% 20% 0% 20%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   //box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}
#que_cq{
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5),
       inset 3px 3px 7px rgba(136, 165, 191, 0.48), 
      inset -3px -3px 7px #FFFFFF;
    background: linear-gradient(318.32deg, rgba(163, 177, 198, 0.1) 0%, rgba(163, 177, 198, 0.1) 55%, rgba(163, 177, 198, 0.25) 100%);
    border-radius: 5px;
    #cate_plc{
      font-size: 23px;
      padding-top: 2%;
      margin:0% 0 0 2%;
      // color: $theme-color;
    }
    #ques_plc{
      font-size: 18px;
      margin:2% 0 0 2%;
    }
}
#in_sec{
  // background: cyan;
  margin: 0.4% 2% 1% 2%;
  font-family: Arial, Helvetica, sans-serif;
}
#btn_spc{
  #btn1:focus,#btn2:focus,#btn3:focus,#btn4:focus {
    
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0px $dark inset, -2px -2px 2px 0px $white inset;
  }
  #btn1:hover,#btn2:hover,#btn3:hover,#btn4:hover {
    cursor: pointer;
  }
  #btn1,#btn2,#btn3,#btn4 {
    outline: none;
    background-color:white;
    border: none;
    border-radius: 6px;
     box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    // box-shadow: 2px 3px 20px 1px rgba(128, 128, 128, 0.4);
    // box-shadow: 
    // 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    // -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    color: $theme-color;
    font-size: 20px;
    font-weight: 700;
    margin-left: 35%;
    position: relative;
    height: 45px;
    width: 25%;
  }
  #btn4{
    margin-bottom: 3%;
  }
}

#que{
  display: inline;
}
#cate_plc{
  color: #0082c8;
}



#suff_num{
  display:none;
}
#tbl,tr,td,th{
  border: 2px solid black;
}
#countdown{
  float: right;
}